{
  "presets": [
    "@babel/preset-env",
    "@babel/env",
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false  // default: true
      }
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "components",  // default: lib
        "camel2DashComponentName": false  // default: true
      }
    ]
  ]
}
